

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="Content/image/a.gif"></div>
        <div class="swiper-slide"><img src="Content/image/1.jpg"></div>
        <div class="swiper-slide"><img src="Content/image/2.jpg"></div>
        <div class="swiper-slide"><img src="Content/image/3.jpg"></div>
        <div class="swiper-slide"><img src="Content/image/4.jpg"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="ulist">
    <dl>
        <dt><i class="glyphicon glyphicon-star"></i></dt>
        <dd>车商城</dd>
    </dl>
    <dl>
        <dt><i class="glyphicon glyphicon-off"></i></dt>
        <dd>分期购车</dd>
    </dl>
    <dl>
        <dt><i class="glyphicon glyphicon-trash"></i></dt>
        <dd>团购活动</dd>
    </dl>
    <dl>
        <dt><i class="glyphicon glyphicon-cog"></i></dt>
        <dd>找二手车</dd>
    </dl>
</div>
<div class="banner">
        <img src="Content/image/ban.gif" alt="">
</div>
<div class="tit">
    车主服务
</div>
<div class="list">
    <dl>
        <dt><img src="Content/image/10.gif" alt=""></dt>
        <dd>油卡充值</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/3.gif" alt=""></dt>
        <dd>低价保险</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/4.gif" alt=""></dt>
        <dd>4s店保养</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/5.gif" alt=""></dt>
        <dd>品质轮胎</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/6.gif" alt=""></dt>
        <dd>车品商城</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/7.gif" alt=""></dt>
        <dd>洗车</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/8.gif" alt=""></dt>
        <dd>违章代缴</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/14.gif" alt=""></dt>
        <dd>免费测评</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/10.gif" alt=""></dt>
        <dd>查周边</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/11.gif" alt=""></dt>
        <dd>车主卡</dd>

    </dl>
    <dl>
        <dt><img src="Content/image/13.gif" alt=""></dt>
        <dd>领卷保养</dd>
    </dl>
    <dl>
        <dt><img src="Content/image/12.gif" alt=""></dt>
        <dd>全部</dd>
    </dl>
</div>
<div class="tit titl">
    限时抢购
    <span><time>13</time>:<time>13</time>:<time>13</time></span>
</div>
<div class="swiper-container container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <dl>
                <dt><img src="Content/image/ban1.gif" alt=""></dt>
                <dd>
                    <p>补胎工具简易套装</p>
                    <p><span>￥99 <b>29元</b></span></p>
                </dd>
            </dl>
        </div>
        <div class="swiper-slide">
            <dl>
                <dt><img src="Content/image/ban2.gif" alt=""></dt>
                <dd>
                    <p>车用脊背挂钩</p>
                    <p><span>￥99 <b>29元</b></span></p>

                </dd>
            </dl>
        </div>
        <div class="swiper-slide">
            <dl>
                <dt><img src="Content/image/ban1.gif" alt=""></dt>
                <dd>
                    <p>车用脊背挂钩</p>
                    <p><span>￥99 <b>29元</b></span></p>
                </dd>
            </dl>
        </div>
        <div class="swiper-slide">
            <dl>
            <dt><img src="Content/image/ban2.gif" alt=""></dt>
            <dd>
                <p>车用脊背挂钩</p>
                <p><span>￥99 <b>29元</b></span></p>
            </dd>
        </dl>
        </div>
        <div class="swiper-slide">
            <dl>
                <dt><img src="Content/image/ban1.gif" alt=""></dt>
                <dd>
                    <p>车用脊背挂钩</p>
                    <p><span>￥99 <b>29元</b></span></p>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="tit titl">
    活动专区
    <span>更多></span>
</div>
<div class="box1">
    <dl>
        <dt><img src="Content/image/p1.gif" alt=""></dt>
        <dd>
            <p>测身价炫富</p>
            <span>身价大PK</span>
        </dd>
    </dl>
    <dl>
        <dt><img src="Content/image/p2.gif" alt=""></dt>
        <dd>
            <p>全场0利率</p>
            <span>购车无压力</span>
        </dd>
    </dl>
    <dl>
        <dt><img src="Content/image/p3.gif" alt=""></dt>
        <dd>
            <p>好车分期</p>
            <span>定制专属方案</span>
        </dd>
    </dl>
</div>
<div class="tit titl">
    猜你喜欢
    <span>更多></span>
</div>
<div class="box1 box4">
    <dl>
        <dd>
            <p>测身价炫富</p>
            <span>身价大PK</span>
        </dd>
        <dt><img src="Content/image/car_01.gif" alt=""></dt>
    </dl>
    <dl>
        <dd>
            <p>全场0利率</p>
            <span>购车无压力</span>
        </dd>
        <dt><img src="Content/image/car_02.gif" alt=""></dt>
    </dl>

</div>
<span class="btn"><i class="glyphicon glyphicon-home"></i></span>